# =========================================================================
# UNITY GITIGNORE STANDARD (NO LFS)
# =========================================================================

/[Ll]ibrary/
/[Tt]emp/
/[Ll]ogs/
/[Uu]serSettings/

/[Bb]uild/
/[Bb]uilds/
/[Pp]latforms/
/Assets/AssetStoreTools*

# Chặn các file dự án tự sinh
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.lscache
*.csproj.lscache

# Chặn các thư mục IDE
.vscode/
.idea/
.vs/
*.com.unity.ide.rider/

# Chặn file attributes cũ nếu có
.gitattributes

# =========================================================================
# CHẶN FILE NẶNG (THAY THẾ LFS)
# =========================================================================
*.psd
*.ai
*.mp4
*.mov
*.wav
*.mp3
*.fbx
*.obj
*.max
*.blend
*.zip
*.rar
*.7z